<a href="https://colab.research.google.com/github/byhqsr/DSAI-Professional-Training-in-Machine-Learning/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We're now going to use the decision trees algorithm to predict the tip a guest will provide to the restaurant after their meal based on other variables.

The dataset for this example is the tips dataset from Seaborn (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv). This dataset contains information about restaurant tips provided by diners. Note that the full dataset has 244 rows (diners).

Data Scrubbing:
*   One-hot encoding for the variables time, day, and sex
*   Delete variable smoker

Independent Variables:
*   total_bill
*   sex
*   day
*   time
*   size

Dependent Variable:
*   tip

Evaluation:
*   Mean absolute error

In [43]:
# 1) Import the following Python libraries: A) pandas B) train_test_split from Scikit-learn C) DecisionTreeRegressor from Scikit-learn D) mean_absolute_error from Scikit-learn
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

In [44]:
# 2) Import dataset from the web: https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [45]:
# 3) Delete variable smoker
del df['smoker']

In [46]:
# 4) Convert non-numeric variables using one-hot encoding. These variables include: time, day, and sex.
df = pd.get_dummies(df, columns=['time', 'day','sex'])

In [47]:
# 5) Assign the X and y variables
X = df.drop('tip',axis=1)
y = df['tip']

In [48]:
# 6) Shuffle the dataset and split the data into test/train sets (70/30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True)

In [49]:
# 7) Assign DecisionTreeRegressor as the model's algorithm
model = DecisionTreeRegressor()

In [50]:
# 8) Link model to X and y variables using the fit function
model.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [51]:
# 9) Evaluate predictions by comparing the model's predictions and the actual outcome of the test data using mean absolute error
# Check prediction error for training data using MAE
mae_train = mean_absolute_error(y_train, model.predict(X_train))
print ("Training Set Mean Absolute Error: %.2f" % mae_train)

Training Set Mean Absolute Error: 0.01

In [52]:
# Check prediction error for test data using MAE
mae_test = mean_absolute_error(y_test, model.predict(X_test))
print ("Test Set Mean Absolute Error: %.2f" % mae_test)

Test Set Mean Absolute Error: 1.01

In [53]:
# 10) Make a prediction with the model using a sample data point and the predict function
# Data point to predict
sample_data_point = [
	40, #total_bill
	2, #size
	1, #time_dinner
	0, #time_lunch
	1, #day_fri
	0, #day_sat
	0, #day_sun
	0, #day_thur
	1, #sex_female
	0, #sex_male
]

In [54]:
# Make prediction
sample_data_predict = model.predict([sample_data_point])
sample_data_predict

array([3.11])